.grid-container-project-showcase {
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.grid-container-project-showcase>div {
    background-color: #FFFEF7;
    padding: 10px;
    overflow: hidden;
}

.grid-container-project-showcase>div.description {
    grid-area: description;
    text-align: justify;
    margin-right: 4rem;
    min-width: 256px;
    max-width: 1024px;
}

.grid-container-project-showcase>div.resources {
    margin-top : 20px;
    height: 30rem;
    min-width: 512px;
    min-height: 512px;
}

.api-buttons {
  border: 1px blue;
    min-width: 350px;
}

.api-interactions{
    min-width: 700px;
}

@media (max-width: 1400px) {
  .grid-container-project-showcase  {
    flex-direction: column;
  }
}

.header {
    text-align: center;
    justify-content: center;
    margin: 0px auto;
} 

.top-margin-header {
  margin-top: 3rem;
}

.no-side-margin-header {
  margin-left: 0rem;
  margin-right: 0rem;
}

.interface-button{
  font-size: 20px;
  line-height: 1.5;
  background-color: #7c74a93d;
  color: black;
  padding: 10px 20px;
  width: 250px;
  margin-top: 2px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.interface-section{
  text-align: left;
}