.body{
  font-family: Verdana,sans-serif;
}

.footer {
    background-color: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    height: 1.2rem;
}

.divider{
    border-top: 3px solid #bbb;
}

.nav-Bar-Background{
    background-color: white;
}

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
      justify-content: center;
        margin: 0 auto;  
        max-width: 1000px;
      padding: 10px;
    }

    .grid-container img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      max-width: 400px;
    }

.nav-bar-button{
  font-size: 15px;
  line-height: 1.5;
  background-color: white; /* Initial background color (blue) */
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-bar-button:hover{
  background-color: grey;
}

.nav-bar-element{
  margin-bottom: 1rem;
}