.body{
  font-family: Verdana,sans-serif;
}

.footer {
    background-color: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    height: 1.2rem;
}

.divider{
    border-top: 3px solid #bbb;
}

.nav-Bar-Background{
    background-color: white;
}

.project-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  width: 19rem;
  height: 20rem;
  margin-bottom: 1.5rem;
}

.project-wrapper{
  width: calc(1150px - 4rem);
}

.nav-bar-button{
  font-size: 15px;
  line-height: 1.5;
  background-color: white; /* Initial background color (blue) */
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-bar-button:hover{
  background-color: grey;
}

.nav-bar-element{
  margin-bottom: 1rem;
}