.footer {
    background-color: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    height: 1.2rem;
}

.divider{
    border-top: 3px solid #bbb;
}

.nav-Bar-Background{
    background-color: white;
}

.project-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  width: 19rem;
  height: 20rem;
  margin-bottom: 1.5rem;
}

.project-wrapper{
  width: calc(1150px - 4rem);
}